# -- General --
.env
logs/
*.log

# --- Bun/Vite frontend ---
node_modules
dist

# --- OS / Editor / Misc ---
.DS_Store
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.idea/
.vscode/
!.vscode/extensions.json
