SECRETS=$(kamal secrets fetch --adapter bitwarden --account <YOUR_EMAIL> --from <YOUR_SOURCE> KAMAL_REGISTRY_PASSWORD CLOUDFLARE_TUNNEL MAILGUN_PASSWORD)
RAILS_MASTER_KEY=$(cat config/credentials/production.key)

# DOCKER KEY
KAMAL_REGISTRY_PASSWORD=$(kamal secrets extract KAMAL_REGISTRY_PASSWORD $SECRETS)

# CLOUDFLARE
TUNNEL_TOKEN=$(kamal secrets extract CLOUDFLARE_TUNNEL $SECRETS)

# EMAIL CONFIRMATION
MAILGUN_DOMAIN=<YOUR_MAILGUN_DOMAIN>
MAILGUN_SMTP_LOGIN=<YOUR_SMTP_LOGIN>
MAILGUN_SMTP_PASSWORD=$(kamal secrets extract MAILGUN_PASSWORD $SECRETS)
