@import "tailwindcss";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.writing-mode-vertical {
    writing-mode: vertical-rl;
}

/* #reader-content > * { */
/*   scroll-snap-align: start; */
/* } */

/* TODO: find a less expensive way? */
*:has(> img),
*:has(> svg) {
  text-align: center !important;
}

#reader-content svg,
#reader-content img {
  max-width: 50% !important;
  max-height: 80vh !important;
  display: initial !important;
}
