@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
}

/* #reader-container { */
/*   margin-left: 3rem; */
/*   margin-right: 3rem; */
/*   padding-top: 3rem; */
/*   padding-bottom: 3rem; */
/*   height: 100vh; */
/*   overflow: hidden; */
/*   scroll-snap-type: x mandatory; */
/*   position: relative; */
/* } */


/* #reader-content { */
/*   height: 100%; */
/*   column-width: 100vw; */
/*   font-size: 20px; */
/*   line-height: 1.85; */
/* } */

#reader-content > * {
  scroll-snap-align: start;
}

/* TODO: find a less expensive way? */
*:has(> img),
*:has(> svg) {
  text-align: center !important;
}

#reader-content svg,
#reader-content img {
  /* max-width: 50% !important; */
  max-height: 80vh !important;
  display: initial !important;
}
